
<div>
  <span>Monday</span>
  <span>Start</span>  
  <span>End</span>  
</div>

<select [(ngModel)]="Selectedweek" (change)="selected=true">
  <option *ngFor="let week of ListWeeks" [ngValue]="week">{{week.Start | date: 'dd/MM/yyyy'}} - {{week.End | date: 'dd/MM/yyyy'}}</option>
</select>
<br>
<div *ngIf="selected" >
  <div>
      <span *ngFor="let day of render(Selectedweek)">
        <div>{{day.Day.Name}} ({{day.Date}})</div>
        <select (change)="day.StartSelected = true">
            <option *ngFor="let hour of day.Start" [ngValue]="{{hour}}">{{hour | convertToHour}}</option>
          </select>          
          <select [disabled]="!day.StartSelected">
            <option *ngFor="let hour of day.End" [ngValue]="{{hour}}">{{hour | convertToHour}}</option>
          </select>    
        
      </span>
      <br>
  </div>
  
</div>
<button [routerLink]="['/manage']" (click)="save()">Save</button>

